name: Maven Snapshot

on:
  push:
    branches:
      - develop
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - uses: actions/checkout@v3
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
          server-id: central
          server-username: ${{ vars.MAVEN_USERNAME }}
          server-password: ${{ secrets.MAVEN_USERNAME_SECRET }}
      - name: Publish package
        run: |
          cat ~/.m2/settings.xml
          mvn clean package source:jar javadoc:jar deploy --batch-mode
